@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.120);
    color: white;
    text-align: center;
    font-size: 15px;
    height: 200px;
    margin-top: 15px;
}

.footer p{

    padding-top: 55px;
    font-family: 'Dosis', sans-serif;

}

    
.logo_footer{

   width: 200px;
   height: 80px;
   margin: 0 auto;
   position:relative;

}

@media only screen and (max-width: 720px) {
    .logo_footer{
        width: 150px;
        height: 50px;
     }
}